<!DOCTYPE html>
<html ng-app="CodeVaders">
<head>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">

	<title>Report Crime</title>
</head>
<body>
	<div class="container" ng-controller="controller">
		<input type="text" ng-model="coordinate.longitude">
		<input type="text" ng-model="coordinate.latitude">
		<button ng-click="AddCoordinates()">Submit</button>
		<a href="/">back</a>
	</div>

	<script type="text/javascript" src="/angular/angular.js"></script>
	<script type="text/javascript" src="/markerclusterer/markerclusterer.js"></script>
	<script type="text/javascript" src="/google-maps/Google.js"></script>
	<script type="text/javascript" src="/client-controllers/app.js"></script>
	<script type="text/javascript" src="/client-controllers/client-controller.js"></script>
</body>
</html>