<!DOCTYPE html>
<html ng-app="CodeVaders">
<head>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.css">

	<title>Street Smarts</title>
</head>
<body>
	<div class="container" ng-controller="controller">
		
		<ul ng-repeat="reports in reportlist">
			<li>{{reports.longitude}}, {{reports.latitude}}</li>
		</ul>

	</div>



	<script type="text/javascript" src="/angular/angular.js"></script>
	<script type="text/javascript" src="/markerclusterer/markerclusterer.js"></script>
	<script type="text/javascript" src="/google-maps/Google.js"></script>
	<script type="text/javascript" src="/client-controllers/app.js"></script>
	<script type="text/javascript" src="/client-controllers/client-controller.js"></script>
</body>
</html>