<!DOCTYPE html>
<html ng-app="CodeVaders">
<head>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">

	<title>Street Smarts</title>
</head>
<body>
	<div class="container" ng-controller="controller">
		
		

	</div>

	<script type="text/javascript" src="/angular"></script>
	<script type="text/javascript" src="/client-controllers/app.js"></script>
	<script type="text/javascript" src="/client-controllers/client-controller.js"></script>
</body>
</html>