<html ng-app="CodeVaders">
<head>
  <title>STREET SMART</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body id="main-map">
  <div class="navbar row">
    <input class="search-bar" id="address" type="text" value="SEARCH LOCATION">
    <input class="geo-button2" id="submit" type="button" value="Search">
    <div class=" navbar1">
      <a href="#!" class="hamburger">☰</a>
      <a href="map.html" class="links">CRIME MAPS</a>
      <a href="nearby.html" class="links">NEARBY</a>
      <a href="statistics.html" class="links">STATISTICS</a>
    </div>
    <div class="navbar2">
      <a href="form.html" class="links">REPORT A CRIME</a>
      <a href="contact.html" class="links add-margin-right-20px">CONTACT US</a>
    </div>
  </div>
  <div class="hide" id="push-menu">
    <img class="profile-pic img-responsive" src="images/vader.jpg">
    <h1 class="profile-name">DARTH VADER</h1>
    <div class="row profile-nav">
      <a href="profile.html">> PROFILE</a>
      <a href="report.html">> REPORTS</a>
      <a href="settings.html">> SETTINGS</a>
      <a class="logout" href="index.html">> LOG-OUT</a>
    </div>
  </div>

  <div ng-controller="index-controller">
    <div id="map" style="margin-top: -30px; width:100%; height: 100%"></div>
    <a href="/form.html">report crime</a>
  </div>

  <script type="text/javascript" src="/angular/angular.js"></script>
  <script type="text/javascript" src="/markerclusterer/markerclusterer.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="/plugins/heatmap.js"></script>
    <script src="/plugins/gmaps-heatmap.js"></script>
  <script type="text/javascript" src="/client-controllers/app.js"></script>
  <script type="text/javascript" src="/client-controllers/client-controller.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.hamburger').click(function() {
        $("#push-menu").toggleClass("hide");
      });
    });
  </script>

</body>
</html>